---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="KTM Adventures in the Northwest"
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p>If you want to ride, but have limited days in the year to get on the trail renting one of Oregon Motorcycle’s KTM’s is the way to go. Just reserve a time to try the many different bikes in our quiver. From auto clutch left hand rear brakes to trials tires and plush suspensions you can have shred day you dream of.</p>
<p>Come and ride,you won’t regret it.</p>
<p>Cheers</p>
</BlogPost>
