---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Arizona Riding 2018"
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p>Welcome to another beautiful winter in sunny Wickenburg. When the cold weather sets in, set yourself up for a winter bucket list shredding it up in beautiful Arizona, We&#8217;ve got the bikes and the terrain for every skill level. With daytime highs 60 to 80 you will kick those winter blues, and improve as a rider, guarenteed. Options for bikes are as varied as the terrain. With KTM and Husky&#8217;s set up to make for an &#8220;all smiles day&#8221;.Choose from 2017 150, 300,350 or 450 models. What are you waiting for, Permission?</p>
<p><img fetchpriority="high" decoding="async" class="alignnone size-medium wp-image-2680" src="https://www.oregonmotorcyclerental.com/newsite/wp-content/uploads/2017/06/20170603_1322410-300x169.jpg" alt="" width="300" height="169" srcset="../../wp-content/uploads/2017/06/20170603_1322410-300x169.jpg 300w, ../../wp-content/uploads/2017/06/20170603_1322410-768x432.jpg 768w, ../../wp-content/uploads/2017/06/20170603_1322410-1024x576.jpg 1024w, ../../wp-content/uploads/2017/06/20170603_1322410-260x146.jpg 260w, ../../wp-content/uploads/2017/06/20170603_1322410-50x28.jpg 50w, ../../wp-content/uploads/2017/06/20170603_1322410-133x75.jpg 133w, ../../wp-content/uploads/2017/06/20170603_1322410.jpg 1200w" sizes="(max-width:767px) 300px, 300px" /></p>
</BlogPost>
