---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Trail-Tech Voyager GPS Mount"
  description=""
  category="Mechanics Corner"
  categorySlug="mechanics-corner"
>
<p>Master craftsman Bob Yeatts has done it again with his custom mount for the Trail-Tech GPS unit. The factory mount puts the GPS out front, and vulnerable. Bob&#8217;s custom mount puts the Voyager in a perfect spot. Out of harm&#8217;s way, and quickly scanable for the rider to see. where the track is leading. Call Bob for the latest and greatest tips.<img loading="lazy" decoding="async" class="alignnone wp-image-2451 size-medium" src="https://www.oregonmotorcyclerental.com/newsite/wp-content/uploads/2016/11/20161030_111228-1-e1478000699546-300x169.jpg" alt="20161030_111228-1" width="300" height="169" srcset="../../wp-content/uploads/2016/11/20161030_111228-1-e1478000699546-300x169.jpg 300w, ../../wp-content/uploads/2016/11/20161030_111228-1-e1478000699546-768x432.jpg 768w, ../../wp-content/uploads/2016/11/20161030_111228-1-e1478000699546-1024x576.jpg 1024w, ../../wp-content/uploads/2016/11/20161030_111228-1-e1478000699546-260x146.jpg 260w, ../../wp-content/uploads/2016/11/20161030_111228-1-e1478000699546-50x28.jpg 50w, ../../wp-content/uploads/2016/11/20161030_111228-1-e1478000699546-133x75.jpg 133w" sizes="auto, (max-width:767px) 300px, 300px" /></p>
</BlogPost>
