---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Tire selection.R&D 9/25/14"
  description=""
  category="Motorcycle Equipment"
  categorySlug="motorcycle-equipment"
>
<p>Seems everyone has an opinion,b ut few weekend warriors actually have the time or cash to test. Oregon motorcycle rental gives me opportunity to try them all.</p>
<p>Here I will expose some myths and try to give some proven facts.</p>
<p>Knobby . . . still tire of choice and for most conditions you will see they are the best bet. Durable, with the ability to ride flat are big pluses. Pricing from $65 to $125 are the norm. I’ve bought several with my favorites Michelin M series and Scorpion performed well in all conditions. Again, a flat on the trail is not a day lost, I’ve ridden rear flats for hours without ruining a rim. Add an insert like mousse and you can maximize their potential on all surfaces.</p>
<p>Trials, my tires of choice. First the pluses – once you’ve tried them, it’s hard to go back. You get used to their nuances like added suspension and soft feel. With the right pressure they are a weapon for many in wet, slick, rooty, and rocky conditions. I run them exclusively on my rig and ignore the negatives they bring to the ride. Most off road rated trials are rated at low mph max, so a narrow window of operation especially in open desert conditions. And a flat, with tubes means you are stopping right now to change them. With an insert they feel like 5lbs. pressure and grip like Velcro! My favorite? Irc tr11..$120. They wear two times better than a knobby – an unexpected plus. Check Jimmy Lewis article from Dirt Rider covering their performance.</p>
<p>Golden Tyre. Definitely a crossover of the two. They are run by many champion hard enduro racers. Graham Jarvis knows his stuff and has won with them over and over. My experience? They wear out quickly – I mean like three rides and there are worn down, a negative for me at the price of $125. But they deliver grip and traction where a regular knob will just spin.</p>
<p>Enjoy! Mack</p>
</BlogPost>
