---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Train to a new level of proficiency at Oregon Motorcycle Rental"
  description=""
  category="Motorcycle Training"
  categorySlug="motorcycle-training"
>
<p>We are stoked on offroad riding, 7-days a week, 12 months a year. Where else can you check out the latest KTM and Husqvarna offroad bikes, modded with upgrades every rider drools over? Here in our Hood River Location, that&#8217;s where. Hundreds of riders are hitting the trails, and experiencing a safe way to increase their skills, and a new perspective of the offroad scene. Hands on personal training is what every rider gets, with Jesse and Doug. &#8220;We&#8217;ve been promoting this style of adventure riding since 2010, tweeking and improving the riders experience as our system has evolved. There is no doubt you will get the goods, and leave with a smile!&#8221;</p>
<p>If this is something you have always wanted to do, then you need a day in Hood River with us. What are you waiting for, permission?<img fetchpriority="high" decoding="async" class="alignnone size-thumbnail wp-image-1465" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2016/02/OMR-Hood-River-300x184.jpg" alt="OMR Hood River" width="300" height="184" /></p>
</BlogPost>
