---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Pro Secrets;Tying up loose ends."
  description=""
  category="Motorcycle Equipment"
  categorySlug="motorcycle-equipment"
>
<p><a href="https://www.oregonmotorcyclerental.com/wp-content/uploads/2015/03/20150315_101122-e1426440795968.jpg"><img fetchpriority="high" decoding="async" class="alignnone wp-image-868 size-large" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2015/03/20150315_101122-e1426440795968-1024x576.jpg" alt="20150315_101122" width="600" height="338" /></a>No Sooner than Dirt Rider Magazine publishes their article&#8221;Keeping wires and hoses out of harm&#8217;s way on page 76 of April&#8217;s edition, I have a perfect storm crash of my own that is a game changer as well. Training this week on a black diamond hill climb in Hood River I took a digger offcamber and downhill on one of my KTM&#8217;s. This fall was so routine, but ended the day. Somehow, the top Velcro of my boot hooked the throttle cable on my way down pulling the cable out of the carb housing sending the bike into the RPM stratosphere. I couldn&#8217;t get loose from under the machine to hit the kill switch. Thankfully the rev-limiter shut down the engine. It still took a few to crawl out from under the mess. Shaken up, I looked for a solution. Rotating the throttle housing down toward the saddle and tucked behind the bar was first, then Ziptie the cable to the bar and left post was the solution. Note the photo. No pinching of the throttle cable and hopefully no way to repeat that debacle. Oh yeah, some crazy fall will happen again &#8211; hopefully not with the same results.</p>
<p>That&#8217;s it for today.</p>
<p>&#8220;Live to Ride&#8221;Ride to Live&#8221;</p>
</BlogPost>
