---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="New Husqvarna's in the fleet of Oregon Motorcycle Rental"
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p><a href="https://www.oregonmotorcyclerental.com/wp-content/uploads/2015/03/20150315_101254-e1426442300226.jpg"><img fetchpriority="high" decoding="async" class="alignnone size-thumbnail wp-image-871" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2015/03/20150315_101254-e1426442300226-300x169.jpg" alt="20150315_101254" width="300" height="169" /></a>Want to try a Husqvarna? You know you do. Just get going and reserve your day and test out the new Huskies on some of the best singletrack anywhere.</p>
<p>509-281-0156</p>
</BlogPost>
