---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Long Haul KTM 150 xc-w"
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p>The clear winner for trail funfactor, the 2018 150 xc-w takes the prize. If you&#8217;re a newbie, or lightweight rider, this machine is a blast to ride. Properly setup, it will climb like a goat as well. My 150&#8217;s have the Rekluse clutch, 12 x 53 gearing, and jetting very much on the lean side. This eliminates any low end bog normally found on the 150. On the pipe, it holds it&#8217;s own against other machines it the tight stuff as well if you are 150 lbs or less.  Enjoy!<img fetchpriority="high" decoding="async" class="alignnone size-medium wp-image-2679" src="https://www.oregonmotorcyclerental.com/newsite/wp-content/uploads/2017/06/20170603_121736-300x169.jpg" alt="" width="300" height="169" srcset="../../wp-content/uploads/2017/06/20170603_121736-300x169.jpg 300w, ../../wp-content/uploads/2017/06/20170603_121736-768x432.jpg 768w, ../../wp-content/uploads/2017/06/20170603_121736-1024x576.jpg 1024w, ../../wp-content/uploads/2017/06/20170603_121736-260x146.jpg 260w, ../../wp-content/uploads/2017/06/20170603_121736-50x28.jpg 50w, ../../wp-content/uploads/2017/06/20170603_121736-133x75.jpg 133w, ../../wp-content/uploads/2017/06/20170603_121736.jpg 1200w" sizes="(max-width:767px) 300px, 300px" /></p>
</BlogPost>
