---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="How to Slow Wheelie a Dirt Bike Like Graham Jarvis"
  description="Learn how to slow wheelie a dirt bike like Graham Jarvis"
  category="Motorcycle Training"
  categorySlug="motorcycle-training"
>
<h1>Want to learn how to slow wheelie a dirt bike like Graham Jarvis?</h1>
<p>Every rider in the sport has seen Jarvis, and his uncanny ability to slow wheelie, mastering it, takes time, and total commitment.</p>
<p>Unlike the gyroscopic, or momentum wheelie, the slow wheelie can be used for more than just showing off. I believe in the stand-up version vs the sitting position, as it is a weapon on the trail.</p>
<p>Oregon Motorcycle Rental has developed a training method that will get you to the pivot point, and on the way to taking this skill onto the trail.</p>
<p>If you have time for a 2-day clinic, you can get the skills to conquer the slow wheelie on your motorcycle!</p>
<p>You can read about our Off-Road Skills Moto Clinics <a href="http://www.oregonmotorcyclerental.com/newsite/singletrack-motorcycle-clinic/">here</a></p>
<p>And check out more about our Training Info <a href="http://www.oregonmotorcyclerental.com/newsite/off-road-motorcycle-training/">here</a></p>
<p><a href="http://www.oregonmotorcyclerental.com/newsite/off-road-motorcycle-training/"><img decoding="async" class="wp-image-2590 size-full aligncenter" title="Slow wheelie a dirt bike like Graham Jarvis" src="http://www.oregonmotorcyclerental.com/newsite/wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7.jpg" alt="How to slow wheelie a dirt bike like Graham Jarvis" width="800" height="533" srcset="../../wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7.jpg 800w, ../../wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7-300x200.jpg 300w, ../../wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7-768x512.jpg 768w, ../../wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7-219x146.jpg 219w, ../../wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7-50x33.jpg 50w, ../../wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7-113x75.jpg 113w" sizes="(max-width:767px) 480px, (max-width:800px) 100vw, 800px" /></a></p>
</BlogPost>
