---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="IRC M5B R & D Rear tire heaven"
  description=""
  category="Motorcycle Equipment"
  categorySlug="motorcycle-equipment"
>
<p>We&#8217;re crazy about traction at Oregon Motorcycle Rental, and want to share the fruits of our labor, and wallet, with our friends. Recently, it&#8217;s the IRC M5B on the trail as our serious traction work-dog. Where to start, 130/80-18, in conjunction with a Tubliss. With the bike geared to 12&#215;53 the 130 was tested with several outer chamber pressures. 9 lbs  down to 3 lbs riding through the life of the tire. At 9lbs the tire was very stable on high speed turns, climbed nicely on serious steep terrain, and basically did everything well. The Tubliss was spot on, I liked this setup. As we dropped pressure we found the sweetspot @ 5 lbs. Less and the knobs had a tendency to close in on themselves somewhat, and loose traction, and occasionally scrub the Tubliss causing wear to the inner liner. Climbing by comparison to the 9lb setting was really incredible. It climbed like a scalded cat, in wet rooty really steep terrain, but my biggest surprise was how it handled wet rocks. It was almost as good as a trials tire! The bike sets a little higher with the 130, but I&#8217;ll take that, with the exceptional feel of this rubber. The 120/80-18 sets lower for standover,  and actually makes excellent power to the ground. This is not the most environmentally friendly setup given the large knobs, so use discretion in muddy terrain, and don&#8217;t hurt the dirt.</p>
<p>Enjoy, Doug</p>
<p><img fetchpriority="high" decoding="async" class="alignnone wp-image-1739 size-medium" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2016/07/IRC-M5B-R-D-Rear-tire-heaven-293x300.jpg" alt="IRC M5B R &amp; D Rear tire heaven" width="293" height="300" /></p>
</BlogPost>
