---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Rekluse on rental KTM's"
  description=""
  category="Motorcycle Equipment"
  categorySlug="motorcycle-equipment"
>
<p>I’m on my 10th Rekluse clutch and I can say they have been flawless. 3x 380, 3×300, 3×250 and finally a 150xc. All have added to the simplicity for new riders to adapt to challenges on  any terrain. In addition the fatigue factor is lessened due to less clutching resulting in less arm pump. Even a bigger surprise was the addition to the CORE a couple of years back.A t around $500 it provides almost the same performance at half the price. The major difference between the CORE EXP and the Z START PRO is a softer pull with the Z START . I have never fried a clutch even with years of service. Also,  the left-hand rear brake is a natural step for some riders when the going gets tough. Almost effortless-A cheaters edge if you are a purist and have made entrance into challenges that were off limits before. An intermediate riderfeels like a seasoned vet when not stalling in rocky steep terrain. I would recommend the recluse to anyone looking for that perfect bike set-up.</p>
<p>Best Regards Mack</p>
<p>Oregon Motorcycle Rental</p>
<p>509-281-0156</p>
</BlogPost>
