---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Last longer on the trail use PalmSavers"
  description=""
  category="Motorcycle Equipment"
  categorySlug="motorcycle-equipment"
>
<p>I&#8217;ve been using PalmSavers for a few years on the trail and they really work! Recently, my training partner, a real hardcore guy, has grabbed my pair everytime and he loves them. Worn under the gloves they are a thin rubber which simply layers over the palm to prevent blisters. Recently, I&#8217;ve been handing them out to all of the riders who come to rent my KTM&#8217;s at Oregon Motorcycle Rental. Without exception this simple addition to a critical contact point adds to the enjoyment of the day. They run @ $6 bucks.<a href="https://www.oregonmotorcyclerental.com/wp-content/uploads/2015/02/IMG_20150225_091750.jpg"><img fetchpriority="high" decoding="async" class="alignnone size-thumbnail wp-image-856" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2015/02/IMG_20150225_091750-300x225.jpg" alt="IMG_20150225_091750" width="300" height="225" /></a></p>
</BlogPost>
