---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Long haul Kenda Equilibrium update"
  description=""
  category="Motorcycle Equipment"
  categorySlug="motorcycle-equipment"
>
<p>We really like the Kenda, so much that we tried several different setups to R&amp;D. Here&#8217;s the facts and final verdict. With a tube, flats were @ 10%. That sidewall is very thin, and with 10 lbs of pressure or less, we were prone to problems. With a Tubliss system, the traction and wear were exceptional in all terrain, shazzam!!! And then, we began to tear the carcasses on gnarly stuff. And we can attest to the fact, that you aren&#8217;t riding out very far on the tubliss, which we ruined. With a Bib Mousse of course, no flats, but also, no traction! Even as the Mousse softened, traction was nowhere to be found.</p>
</BlogPost>
