---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="MotoZ Tire Review"
  description=""
  category="Motorcycle Equipment"
  categorySlug="motorcycle-equipment"
>
<p>I had high expectations for the new MotoZ hybrid tire. It is billed as a trials like tire with side knobs for extra traction. The 120x profile is very impressive and sits much taller than my IRC TR11 normal tread. I mounted the 18″ rim with a Tubliss system and ran 10 lbs outer chamber pressure. First ride came from Trask where the rocky terrain turned the day into a bucking bronco ride. Traction was very poor and so harsh I couldn’t hold a line. I dropped tire pressure to 5lbs and set out again. Not much difference in the rocky rooty sections, but more traction in the slime. I then ran it down to 1lb and hit the trail again. This time I found the truth. Even with the ultra low pressures no advantage was found for traction in rooty rocky terrain. The knobs were just too stiff to match a true trials tire.</p>
<p>Muddy conditions were a different story however .Excellent traction in VERY SLIMY MUD were to be had with sub 5lb pressure. Here the wide profile was great for hooking up especially in straight line bursts up the steeps.</p>
<p>Conclusion: I like the look of this tire and the concept is on the right track. The ticket for overall performance however would be a soft compound similar to trials knobs with low pressure.</p>
<p>Cheers Mack</p>
<p><img fetchpriority="high" decoding="async" class="alignnone size-full wp-image-792" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2015/02/Moto-Z-Tires.jpg" alt="Moto-Z-Tires" width="600" height="748"></p>
</BlogPost>
