---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Endurocross Training in Wickenburg"
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p>Now in addition to the worldclass desert terrain found here, We&#8217;re throwing in edurocross training in the mix. Get on your favorite KTM or Husqvarna, and shred it up like the pros. <img fetchpriority="high" decoding="async" class="alignnone size-medium wp-image-2752" src="https://www.oregonmotorcyclerental.com/newsite/wp-content/uploads/2017/12/20171219_140600-e1513781802131-300x169.jpg" alt="" width="300" height="169" srcset="../../wp-content/uploads/2017/12/20171219_140600-e1513781802131-300x169.jpg 300w, ../../wp-content/uploads/2017/12/20171219_140600-e1513781802131-768x432.jpg 768w, ../../wp-content/uploads/2017/12/20171219_140600-e1513781802131-1024x576.jpg 1024w, ../../wp-content/uploads/2017/12/20171219_140600-e1513781802131-260x146.jpg 260w, ../../wp-content/uploads/2017/12/20171219_140600-e1513781802131-50x28.jpg 50w, ../../wp-content/uploads/2017/12/20171219_140600-e1513781802131-133x75.jpg 133w" sizes="(max-width:767px) 300px, 300px" /></p>
</BlogPost>
