---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Bike Ergonomics 101; Rally Soft Grips"
  description=""
  category="Motorcycle Equipment"
  categorySlug="motorcycle-equipment"
>
<p>Grips may not come to mind as one of  the most important item to upgrade on your machine, but think again. As a guide,at Oregonmotorcyclerental.com I see over and over the first body part to give out is usually hands and forearms. KTM Factory grips are . . .well grippy! But those little ridges made for holding on no matter what take their toll over hours of pounding. Switching to the Rally Pro grips are super soft AND super tacky in all conditions. In addition their large diameter opens up the palm resulting in less clinching – resulting in less arm pump. Try them for yourself – come and rent one of my KTM’s here in Hood River Oregon… Mack 509-281-0156</p>
<p><a href="https://www.oregonmotorcyclerental.com/wp-content/uploads/2013/11/20131008_110501-e1384892252442.jpg"><img fetchpriority="high" decoding="async" class="alignnone size-thumbnail wp-image-594" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2013/11/20131008_110501-e1384892252442-225x300.jpg" alt="20131008_110501" width="225" height="300"></a></p>
</BlogPost>
