---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Offroad Singletrack riding vs. Dual Sport Riding:A comparison."
  description=""
  category="Motorcycle Training"
  categorySlug="motorcycle-training"
>
<p>Observations from the last five years of renting and guiding that I want to archive and pass on. No doubt, we are in an Offroad and Dual-Sport-Mania phase. Many riders I&#8217;ve had recently earned their Street endorsement and now want to venture a taste into the off road side of motorcycling. Most were blown away at the BIG difference between the two sports. Desire and keeping the challenge close to your skill level are a big factor in maintaining the mental focus sharp, scanning the trail at the proper distance and REACTING to what is coming at you. If you are exhausted mentally the body is not far behind. It&#8217;s game over. To explain, when you are accustomed to riding on a road or doubletrack, you have more time to respond vs singletrack which forces the rider to put all his skills into play more quickly. A good comparison would be walking between two ten story buildings on a three foot walkway. No problem. Now put down a 12 inch plank with no railing and cross. You tense immediately. Just reading this you can see how it  plays on your mind. I&#8217;ve seen it time and time again. A rider might be struggling to exhaustion with keeping the bike on a beginner singletrack trail. Then put the same rider on much more difficult doubletrack and immediately they relax, unaware that they just rode a section that was much steeper than the singletrack .  Anyone with minimal skills can ride on the road. Singletrack riding is about picking your line and sticking it. It&#8217;s that simple. If you&#8217;ve ever wanted more out of your motorcycling experience come out and ride one of my KTM or Husqvarna sleds for a day. Challenge yourself. It&#8217;s never too late to have a happy childhood!</p>
</BlogPost>
