---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Rescue gear, what to carry."
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p><strong>&#8220;The dirt can be unforgiving.&#8221;</strong></p>
<p>This blog is dedicated to everyone who has ever lost a bike to a N0-Fall Zone.</p>
<p>It seems there&#8217;s always a rock or stump ready to bump a peg or handlebar just at the worst possible moment sending you and the bike tumbling off the edge. Beginners to experts experience this in their riding &#8211;  it&#8217;s just a matter of when.</p>
<p>I&#8217;m going to outline the tools to carry and the techniques to rescue your machine. It&#8217;s always a good idea to have a riding buddy to help anchor and belay.  Rule one &#8211; don&#8217;t ride alone.</p>
<p>First, you&#8217;ll need 50 to 75&#8242; feet of rope. I carry Kevlar winch rope. It doesn&#8217;t break or rot after being in your pack forever. Second, a standard buddy-strap and 2 climbers pulleys with large carabiners.</p>
<p>Step one, belay the 1st pulley and carabiner to a tree, rock or stump above the bike with the buddy-strap. Next, noose the bike around the handlebars and thread the rope through the 1st pulley. Then attach the 2nd pulley and carabiner to the upper handlebar &#8211; the carabiner has to be large enough to go around the bar.</p>
<p>Next you&#8217;ll need a cleat. I carry down-haul cleats. They are light and easily slid onto the rope for winching. The 2 pulleys will create 3-times the pull of one. Have one rider lift the handlebar off the dirt as you tug from above. This will take time, but it works.</p>
<p>You can&#8217;t slide the bike easily without lifting the bar as you winch. Remove all debris from the exit area and begin winching sliding the cleats down after every lift. I have winched bikes totally suspended from past-vertical drops.</p>
<p>Depending on how far down the bike is, you should have a controlled rescue, completed in under an hour. You will be stoked to pull off a rescue like this, and be empowered for every situation.</p>
<p>Cheers Doug</p>
<p><img fetchpriority="high" decoding="async" class="alignright size-large wp-image-1841" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2016/08/20160826_124105-1024x576.jpg" alt="20160826_124105" width="600" height="338" /></p>
</BlogPost>
