---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="2018 Husky 250 TPI ride update"
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p>Have to admit, my 1st impression wasn&#8217;t filled with enthusiasm over the new TPI. With the added weight, and lack of tunability, along with a complex fuel system, I was skeptical. I&#8217;ve run the bike for 20 hrs now, and have to say, It&#8217;s damn good! She runs like a scalded cat, right out of the box,&#123; see, no more jetting issues&#125;, at whatever elevation, and lugs like a diesel tractor. The added weight is no factor once your&#8217;re moving. I&#8217;ve ordered a 300TPI as well, as soon as they are available. Come out and ride one.</p>
<p>Cheers Doug</p>
</BlogPost>
