---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Brain,Body and Bike,"
  description=""
  category="Motorcycle Training"
  categorySlug="motorcycle-training"
>
<p>Want the perfect motorcycle ride? The ultimate trail ride starts with preparation. When I coach riders who rent from oregonmotorcyclerental.com, I call it the three B&#8217;s. A  perfect day is where all three B&#8217;s are solid. Think about it, if a rider&#8217;s hands and forearms give out first, the brain puts the brakes on performance. If a rider faces a challenge that exceeds his or her skill level by a wide margin the brain balks &#8211; game over for that terrain that day. And of course, if the bike hits a mechanical you had better be ready to get repairs done. In addition, my favorite training tip is, &#8220;I am not a better rider that you, only more practiced.&#8221; There is no substitute for time on the bike. No matter how many years you have ridden the three B&#8217;s are in charge!</p>
<p>Cheers Mack</p>
</BlogPost>
