---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="We work towards sustainability"
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p>Behind every ride, goes countless hours of work to keep the Northwest trails in pristine condition. Many groups of riders, and non-profit clubs donate time and materials every spring to clear and rebuild from the winters deluges, and insure future shredders have great offroad options. Oregon Motorcycle Rental is proud to be a part of the process, every season in the areas we ride. If you have an interest in attending work parties, you will meet some great folks to ride with as well. Come and share a day in the woods! Cheers, Doug and Jesse.</p>
</BlogPost>
