---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Bike Armor clutch case guard from Slavens"
  description=""
  category="Motorcycle Equipment"
  categorySlug="motorcycle-equipment"
>
<p>Greetings shredders! Here is another tip for hassle free riding in the most gnarly of the gnarly terrain. Outfit your steed with a clutch case guard from Slavens racing. Overkill? Well, depends on how prepared you are when you crack a case 20 miles in the bush. I carry JP weld for just that fix, but after cracking a clutch case completely draining my oil on a KTM 250 sx I started thinking overkill wasn’t such a bad idea. Retailing for @64 bucks – not the cheap way to go, but priceless on the trail. Check it out.</p>
<p>Happy trails.<a href="https://www.oregonmotorcyclerental.com/wp-content/uploads/2015/03/KTM-case-guard-orange.jpg"><img fetchpriority="high" decoding="async" class="alignnone size-thumbnail wp-image-861" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2015/03/KTM-case-guard-orange-300x264.jpg" alt="KTM%20case%20guard%20orange" width="300" height="264"></a></p>
<p>Cheers Mack</p>
</BlogPost>
