---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Mechanic's Corner"
  description=""
  category="Mechanics Corner"
  categorySlug="mechanics-corner"
>
<p>Everybody needs a good wrench. Someone who will jump on our steed  and get her fixed as soon as possible and understands just what is needed to master the terrain we are trying to conquer, think outside the box, and modify any bike with speedy turnaround time.</p>
<p>At OMR I&#8217;m fortunate to have one of the best, Bob Yeatts, owner of the &#8220;Mod Shop&#8221; is one of a kind. Bob has been turning out our R&amp;D results with a dazzling array of upgrades to take your riding to the next level.</p>
<p>From dirt to snow-bikes Bob has expert advice on everything you&#8217;ll need. From custom Left hand rear brake kits, tires and inserts,  Zac-Speed packs, and Rekluse clutches (all in stock), you&#8217;ll find most of what you need for your KTM and Husky.  And expert advice along with exceptional service. Check in frequently for his blog updates and ideas on improving your sled. Call anytime.</p>
<p>You can reach Bob at 509.703.2266.</p>
<p><img fetchpriority="high" decoding="async" class="alignnone size-full wp-image-1870" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2016/10/photo-1-1.jpg" alt="photo-1" width="640" height="480" /></p>
<p><img decoding="async" class="alignnone size-full wp-image-1871" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2016/10/photo-2.jpg" alt="photo-2" width="640" height="480" /></p>
<p><img decoding="async" class="alignnone size-full wp-image-1872" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2016/10/photo-3.jpg" alt="photo-3" width="640" height="480" /></p>
<p><img loading="lazy" decoding="async" class="alignnone size-full wp-image-1873" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2016/10/photo-4-1.jpg" alt="photo-4" width="640" height="480" /></p>
</BlogPost>
