---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Alta Redshift All Electric"
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p>I rode an Alta Redshift, today June 14, what a thrilling machine. It&#8217;s a little on the heavy side, but the torque-power delivery was impressive! On power level 1 it spins the tire effortlessly on 3 it very hard hitting, on 4 watch it, she&#8217;s gonna loop out! Run time is the limiting factor of course, but the day is going to come soon when a 3-hour run time will make this bike a must have. Think of all the sensitive areas we ride, that, it might save from shutdowns. Stoked to see what&#8217;s in store for the E-revolution.</p>
<p>Cheers Mack</p>
</BlogPost>
