---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Striking technique for mastering ledges"
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p>This advanced trials skill will give you the confidence and ability to get your bike over almost anything. Strike the ledge at or above the 3/4 mark, pre-load your fork on the ledge, then unload the fork as you rebound, chop the throttle to avoid looping out, and move your body up and foreward at the same time. This will launch you over the obstacle,without hitting the bashguard or rear wheel. The last key to success, is waiting until your rear tire clears before pinning the throttle. When done correctly, it is effortless. For success,Train till you can do this manuever in your sleep. Cheers Doug.</p>


<p><img fetchpriority="high" decoding="async" class="size-medium wp-image-2516 aligncenter" src="https://www.oregonmotorcyclerental.com/newsite/wp-content/uploads/2016/12/20150326_150516-300x225.jpg" alt="" width="300" height="225" srcset="../../wp-content/uploads/2016/12/20150326_150516-300x225.jpg 300w, ../../wp-content/uploads/2016/12/20150326_150516-768x576.jpg 768w, ../../wp-content/uploads/2016/12/20150326_150516-195x146.jpg 195w, ../../wp-content/uploads/2016/12/20150326_150516-50x38.jpg 50w, ../../wp-content/uploads/2016/12/20150326_150516-100x75.jpg 100w, ../../wp-content/uploads/2016/12/20150326_150516.jpg 900w" sizes="(max-width:767px) 300px, 300px" /></p>
</BlogPost>
