---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="The Cheater By Shinko Tire"
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p>Spring greetings from Oregon Motorcycle. Today, I&#8217;m blogging about the new Shinko Cheater soft compound tire. The tire comes in two sizes, my favorite is the 120x100x18. This tire ROCKS! Not only rocks, but excels in wet, rooty slimy, well face it, it does everything gnarly with ease. Combined with a tubliss system the tire can be run at sub-5 lbs no problem. It&#8217;s super soft, and seems to wrap itself around whatever object you are needing traction. Simply put, this is the best tire ever for extreme conditions, hands-down. Get one and see you on the trail! Cheers Doug.</p>
</BlogPost>
