---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Kick the winter blues goodbye"
  description=""
  category="Motorcycle Training"
  categorySlug="motorcycle-training"
>
<p>Welcome to Wickenburg, once team roping capital of the world, now winter single track riding center of the universe.</p>
<p>The riding areas cover an enormous amount of land from Phoenix to Prescott. Terrain is suited for beginner to expert with tons of options for every rider. Wether you are a solo rider, have a posse, or want to bring the whole family on a moto vacation, this is paradise. With winter temperatures in the 60&#8217;s and 70&#8217;s, perfect conditions seem to happen daily!</p>
<p>We&#8217;ve put together the perfect package for lodging as well, at Rancho Casitas guest ranch. Located 5 miles from the small town of Wickenburg, the Rancho features rustic 60&#8217;s style apartments that rent for 3 day minimums to full blown monthly rates.</p>
<p>Beautiful sunny days, epic sunrises and sunsets, along with incredible starlit nights &#8211; the perfect way to kick the winter blues.</p>
<p>Plan a trip this winter, and work on your riding skills, with the best equipment available at OMR.</p>
<p>See you soon!</p>
<p><img loading="lazy" decoding="async" class="alignnone wp-image-2473" src="https://www.oregonmotorcyclerental.com/newsite/wp-content/uploads/2016/12/OMR-Arizona1-e1480795631577-300x169.jpg" alt="omr-arizona1" width="600" height="338" srcset="../../wp-content/uploads/2016/12/OMR-Arizona1-e1480795631577-300x169.jpg 300w, ../../wp-content/uploads/2016/12/OMR-Arizona1-e1480795631577-768x432.jpg 768w, ../../wp-content/uploads/2016/12/OMR-Arizona1-e1480795631577-1024x576.jpg 1024w, ../../wp-content/uploads/2016/12/OMR-Arizona1-e1480795631577-260x146.jpg 260w, ../../wp-content/uploads/2016/12/OMR-Arizona1-e1480795631577-50x28.jpg 50w, ../../wp-content/uploads/2016/12/OMR-Arizona1-e1480795631577-133x75.jpg 133w" sizes="auto, (max-width:767px) 480px, 600px" /></p>
</BlogPost>
