---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Offroad Rentals of KTM and Husqvarna in the Northwest"
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p>If you are drowning in the work-a-day world and want to get on a bike, here is the door to instant gratification! Come to Hood River, Oregon and make it happen on a new Husqvarna or KTM offroad machine. Where else can you demo offroad bikes year round? Still not sure? Take a moment to read the reviews and testimonials here and then call to check it out. Beginners don&#8217;t be shy. I have a sled for you too with all the gear you will need. Experts, you will be challenged to up your game not on some beater bike rental but on a new Husky or KTM. From factory specs to modified auto-clutch left-hand rear brake set-ups to try.</p>
<p>I have always stressed the concept that perfection in the dirt is a hard thing to produce day after day. It is mother nature after all, but this is as close as you can get. Cheers Mack&#8230;.</p>
</BlogPost>
