---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Yeatts Design Left Hand Rear Brake Solution"
  description=""
  category="Motorcycle Equipment"
  categorySlug="motorcycle-equipment"
>
<p><a href="https://www.oregonmotorcyclerental.com/wp-content/uploads/2015/04/20150426_080412_ResolutionPlus.jpg"><img fetchpriority="high" decoding="async" class="alignnone size-thumbnail wp-image-923" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2015/04/20150426_080412_ResolutionPlus-300x225.jpg" alt="20150426_080412_ResolutionPlus" width="300" height="225" /></a><a href="https://www.oregonmotorcyclerental.com/wp-content/uploads/2015/04/20150426_080338_ResolutionPlus.jpg"><img decoding="async" class="alignnone size-thumbnail wp-image-924" src="https://www.oregonmotorcyclerental.com/wp-content/uploads/2015/04/20150426_080338_ResolutionPlus-300x225.jpg" alt="20150426_080338_ResolutionPlus" width="300" height="225" /></a>For those of us who have gone to the dark side, the left hand rear brake setup goes hand and hand with the Rekluse clutch. There are a few different options for mounts to accommodate the two levers. My favorite is the perch mount from Yeatts Design .Engineered from billet aluminum it can be integrated perfectly to your bike&#8217;s cockpit. You use the standard KTM magura levers. I have tried other options and always find them either not stout enough or too expensive. I&#8217;ve been running the Yeatts perch since Rekluse has been on the scene and never had a failure. One of the plusses is adjust-ability.Brake and clutch can be maneuvered to fit any riders preferences. They retail for $125 each. You can reach Bob Yeatts at 509-703-2266.</p>
</BlogPost>
