---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Husqvarna TC250 Review"
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p>The Huskies are in and wow! Nice machines for the woods. I&#8217;m using the TC&#8217;s and TE&#8217;s.<br />
Here are a few of the positives:</p>
<p>4cs forks &#8211; great for medium speed impacts. Initially harsh low they seem to soften up quickly. Easy to adjust a few clicks on the fly too. Haven&#8217;t seen much difference in performance between the TE and TC 4cs models either. A quick shim removal renders them very supple. In comparison to the WP&#8221;s these are very plush. The shock is just darn compliant right out of the box.</p>
<p>Motor &#8211; best way to describe the feel is very thumper like. Where the SX and XC&#8221;s have a bigger hit the Husqvarnas seem to be more linear and better torque thru the power-band. They stay hooked up.</p>
<p>Tranny &#8211; I love the close-ratio 5-speed period for the woods. You always seem to be in the right gear or close to where you need to be for surprise situations. The 6 speed TE&#8217;s shines as a cross country unit for more open trails where the TC is my favorite gnarly terrain weapon. They don&#8217;t overheat and once jetted correctly are flawless.I know this goes against the grain, but the new suspension makes for an easy transition from track to trail.</p>
<p>Handling &#8211; Superb,just a catlike nimble flick-able machine.</p>
<p>Come out to Hood River and get in gear! 509-281-0156</p>
</BlogPost>
