---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Kenda Equilibrium Review"
  description=""
  category="Motorcycle Equipment"
  categorySlug="motorcycle-equipment"
>
<p>Hi, Doug here from the Oregon/Washington border, where it&#8217;s been WET, and time to get back to the old trials tire for the winter. Oh wait, this is the Kenda review!!</p>
<p>Well, I am super impressed with the new Kenda Equilibrium. A super soft rubber compound, with side knobs and beefy carcass, make this tire exceptional when things are slick and steep. I&#8217;m running a Tubliss setup and have varied outer chamber pressures. So far the Kenda really seems to have a sweet spot at just under 5lbs. The grip is like the trial tire with superb hookup. The sideknobs can be felt running at this low pressure as the tread tends to flatten, adding to the solid traction and feel. Back on the road things are a little mushy at this pressure, but on the trail they are magic!</p>
<p>With @ 20 hrs, the tire is showing little wear &#8211; an added plus. I have to say this tire is a winner all around; Mud, sand, roots, etc it does everything well. Comes in either 18&#8243; or 19&#8243; which is a big plus. Grab one if you can find them, and get to a trail near you!</p>
<p>For further reading and to check out the tread pattern:</p>
<p>http://dirtbiketest.com/product-tests/kenda-equilibrium/</p>
</BlogPost>
