---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Rekluse techniques to master optimum throttle"
  description=""
  category="Uncategorized"
  categorySlug="uncategorized"
>
<p>Riding a Rekluse? I am, it just makes my life easier. Easier on my clutch hand, and easier on the bike too. But riding an auto-clutch requires some personal tweeking to be competitive against a great clutch rider. A clutch rider, makes optimum power while feathering or fanning the lever when power is needed. Bikes were designed this way. The first time I heard of the Auto, I ordered one, installed it, and only looped the bike out a few dozen times before I got the hang of it, usually forgetting it was in gear! To be competitive, you have to learn to apply optimum throttle. That little dance where you are applying the right power to the ground. Too much, and you spin out, too little, and it&#8217;s harder to get back into the power zone. I&#8217;ve tried most engagement tricks, and under severe load, you just don&#8217;t get the rip a normal clutch gives. Of course, everything is a tradeoff, and I&#8217;ll take the Rekluse everytime for ease of use, and no stalling. So the brain adapts over time to recognize right where his machine makes optimum power, in whatever terrain, without fanning the lever. Add the Left Hand Brake, and you&#8217;ve got a truly different animal all together. <img fetchpriority="high" decoding="async" class="size-medium wp-image-2590 aligncenter" src="https://www.oregonmotorcyclerental.com/newsite/wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7-300x200.jpg" alt="" width="300" height="200" srcset="../../wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7-300x200.jpg 300w, ../../wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7-768x512.jpg 768w, ../../wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7-219x146.jpg 219w, ../../wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7-50x33.jpg 50w, ../../wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7-113x75.jpg 113w, ../../wp-content/uploads/2017/01/Singletrack-Motorcycle-Clinic-7.jpg 800w" sizes="(max-width:767px) 300px, 300px" /></p>
</BlogPost>
