---
import BlogPost from '../../../layouts/BlogPost.astro';
---
<BlogPost
  title="Beginner brake technique"
  description=""
  category="Motorcycle Training"
  categorySlug="motorcycle-training"
>
<p>This blog for beginners on braking is coming to you after the last 5 years of KTM rentals and observation on the trail and is applicable for off road only. Many folks come out to the woods thinking they can transfer their road techniques to singletrack. On the asphalt everyone is clear on front braking having much more stopping power over the rear brake. It is also true on the trail sending most newbies onto their backside. So many more factors are at play and you can’t transfer your wisdom without a learning curve. Most have to experience it for themselves. For beginners I always stress the back brake as your friend in every situation while modulating the front gently. Seems pretty basic, but believe me, once you add mud, ice, and offcamber, things happen quickly. A log across the trail must be taken seriously when it’s slick. Front wheel washouts happen so fast, you are down faster than you can react. Once you’ve become accustomed to the soft pull on the front brake the better control you will have. Happy Trails.</p>
<p>Cheers!</p>
</BlogPost>
